@import url('http://fonts.cdnfonts.com/css/montserrat');

:root {
    --main-blue: #366EFF;
    --transition: all 0.35s ease-in-out;
    --light-gley: rgba(0, 0, 0, 0.2);
    --mid-grey: rgba(61, 61, 61, 0.09);
    --grey2: #EFEFEF;
    --link-color: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: none;
}

ul, li, lo {
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: var(--mid-grey);
}

a, .link {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-decoration-line: none;
    color: var(--main-blue);
    transition: all 0.2s ease-in-out;
}

a:hover {
    text-decoration: underline;
}
.link--dotted {
    border-bottom: 1px dashed #000;
}
.link--dotted:hover {
    text-decoration: none;
    border-bottom: 1px solid #000;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: #000000;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-content {
    width: 100%;
    max-width: 100%;
    margin-top: 60px;
    flex: 1 0 auto;
}
.container {
    max-width: 1008px;
    margin: 0 auto;
}
.close-button {
    width: 36px;
    height: 36px;
    background: url("./assets/img/close.png") no-repeat center;
    background-size: 17px 17px;
    border-radius: 50%;
    border: 1px solid var(--link-color);
    background-color: #ffffff;

}
@media (max-width: 1007px) {
    .container {
        max-width: 100%;
        padding: 0 16px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 0 16px;
    }
}
@media screen and (max-width:520px){
    .login--header._not-logged {
        display: none !important;
    }
    ._not-logged {
        justify-content: center !important;
    }
    .mob-hide {
        display: none;
    }
}

@media screen and (max-width:520px){
    .mob-hide {
        display: none;
    }
}
@media screen and (max-width:768px){
    .tablet-hide {
        display: none;
    }
}

